<p>Customers</p>

Filter:<input type="text" id="filter">&nbsp; 
<button class="btn btn-success"><a routerLink="/Add-new-customer" >+ Add new customer</a></button>  <br><br><br>   

<router-outlet></router-outlet>
<table class="table table-stripped" border="1">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Order Total</th>
    </tr>
  </thead>
    <tbody border="1">
    <tr *ngFor="let customer of customers">
      
      <td><img src="assets/ted.jpg" width="50px" height="50px"></td>
      <td>{{customer.firstname}}</td>
      <td>{{customer.lastname}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.state}}</td>
      <td>{{customer.ordertotal}}</td>
      <td>
        <button (click)="deleteCustomer(customer.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
      </td>
    </tr>
  </tbody>
    
    
  </table>

